@model MVCStudent.Models.Mentor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mentor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priimek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumZaposlitve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumZaposlitve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktiven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktiven)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MentorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
